body {
	margin: 0;
	background: #999;
}
#icons {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #888;
	width: 1124px;
	margin: 30px auto;
}
#icons .icon {
	position: relative;
	width: 130px;
	flex: 0 0 130px;
	text-align: center;
	margin: 4px;
	border: 1px solid #555;
	background-color: #777;
}
#icons .icon [icon] {
	position: relative;
	width: 100%;
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	line-height: 0;
	padding: 25px 0;
	color: #222;
	filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.40));
}
#icons .icon [icon] .ico {
    min-width: 3.5rem;
}
#icons .icon span:not([icon]) {
	position: relative;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	padding: 3px 0;
	text-align: center;
	font-size: .8rem;
	font-family: monospace;
	border-top: 1px solid #555;
	cursor: copy;
}
#icons .icon [icon=spinner], #icons .icon [icon=spinner2], 
#icons .icon [icon=spinner3] {
    animation: spinner 2s infinite linear;
}
#icons .icon [icon=spinner4] {
    animation: spinner_reverse 2s infinite linear;
}
@keyframes spinner {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(359deg) }
}
@keyframes spinner_reverse {
    0% { transform: rotate(359deg) }
    100% { transform: rotate(0deg) }
}
.screen_reader {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    font-size: 14px;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden !important
    word-wrap: normal !important;
}